<div id="homepage">
	<div class="full_width_container height_container_500" id="hook"></div>
	<div class="full_width_container height_container_100" id="hook_subtitle">Creative campaigns through social media.</div>
	<div class="half_width_container height_container_400" id="tag_youre_it">
		<h1>Tag you're it!</h1>
		<p class="center_horizontal">We love social media, from community building to inspiring content. But what we really love is creating engaging and dynamic campaigns through social media! <br><br> Click here to check out some of our work!</p>
	</div>
	<div class="half_width_container height_container_400">
		<h1 class="center_horizontal">Wanna play?</h1>
		<p>Every brand should play the game of social media! Get in touch, we’d love to play!</p>
	</div>
	<div class="full_width_container height_container_200" id="team">
		<h1 class="center_horizontal">The Team</h1>
	</div>
	<div class="half_width_container height_container_500" id="lets_play">
		<h1 class="center_horizontal" id="title">Let's play!</h1>
	</div>
	<div class="half_width_container height_container_500" id="contact_homepage"></div>
</div>