<div id="homepage">
	<div class="full_width_container height_container_500" id="hook"></div>
	<div class="full_width_container height_container_100" id="hook_subtitle">creative campaigns through social media</div>
	<div class="half_width_container height_container_400"></div>
	<div class="half_width_container height_container_400"></div>
	<div class="full_width_container height_container_200" id="team"></div>
	<div class="full_width_container height_container_500" id="contact_homepage"></div>
</div>